body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 1rem;
}

.instructions {
    max-width: 600px;
    margin-bottom: 1rem;
    text-align: center;
}

.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px; 
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
}


#reset-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #3f9a40;
}

.game-container {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto;
    grid-gap: 1rem;
    background-color: #ddd;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 600px; /* You can adjust this value based on your design */
}

.start-tile {
    background-color: #4caf50;
    color: #fff;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid #ccc;
    border-radius: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.tile.correct {
    animation: correct 0.5s;
    color: #3f9a40;
}

.tile.incorrect {
    animation: incorrect 0.5s;
}

.tile-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 0.5rem;
    justify-content: center;
    grid-auto-flow: column;
}

.start-container, .end-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes correct {
    0% { background-color: #fff; }
    50% { background-color: #8bc34a; }
    100% { background-color: #fff; }
}

@keyframes incorrect {
    0% { background-color: #fff; }
    50% { background-color: #f44336; }
    100% { background-color: #fff; }
}

/* Media Query for larger screens */
@media screen and (min-width: 600px) {
    .game-container {
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: auto;
    }
}
